*{
    margin: 0;
    padding: 0;
}


main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(126, 126, 235), rgb(75, 75, 206)) ;
    background-size: cover;
}   


.content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-top: 250px;
}

.calcular{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sub_title{
    font-size: 25px;
    margin: 0 0 20px 0;
    color: white;
}

.entrada{
    margin: 0 0 40px 0;
    font-size: 15px;
    border-radius: 12px;
}

.enviar{
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 20px;
}

.enviar:hover{
    background: black;
    color: white;
    border-radius: 20px;
}

.second-content{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}


.second-title{
    font-size: 45px;
    margin: 0 0 25px 0;
    color: white;
}

.paragraph{
    font-size: 20px;
    margin: 10px 0;
    color: white;
}